#wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column nowrap;
}

section {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

picture {
  order: -1;
}

.rooms {
  flex-basis: 65%;
  flex-grow: 1;
}
