html{
	width: 100%;
}
body {
	width: 100%;
}

*, *:before, *:after {
 box-sizing: inherit;
}

h1 {
  color: #5199d5;
  text-align: center;
	text-transform: uppercase;
  font-size: 190%;
	margin: 10px 0;
}
@media all and (min-width: 28em){
  h1{
    font-size: 250%;
		margin: 15px 0;
  }
}

h2 {
  color: steelblue;
  text-transform: uppercase;
  font-size: 100%;
}

.shadowd {
	text-shadow: 1px 1px 0px black,
							 -1px -1px 0px black,
							 1px -1px 0px black,
							 -1px 1px 0px black;
}

.comment {
  font-size: 80%;
  color: black;
}

.img-center {
  width: 100%;
}

.img-small {
  max-width: 184px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.whited {
  background: hsla(0, 100%, 100%, .85);
  border-radius: 5px;
  padding: .01em 2%;
	overflow: hidden;
}

.framed {
  margin: .3em 2%;
	border: 1px solid black;
}

.img-frame {
	border: 2px solid;
	border-radius: 5px;
	margin: 0 auto;
	width: 48.87%;
	overflow: hidden;
}
@media all and (min-width: 400px) {
	.img-frame {
		width: 32.58%;
	}
}
@media all and (min-width: 600px) {
	.img-frame {
		width: 180px;
	}
}

.img-frame img {
	display: block;
}

.header-img {
	width: 105%;
	position: relative;
	left: -2.3%;
	top: -0.2em;
}

body {
	background-color: hsl(209,40%,49%);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 90%;
	line-height: 1.3;
  margin: 0;
}

#wrapper {
  margin: 0 auto;
  max-width: 80em;
  padding: 0;
  width: 100%;
}

nav {
  overflow: hidden;
  background: hsl(0, 29%, 51%);
  border-radius: 5px;
  padding: 0;
  margin-bottom: .8em;
  text-align: center;
  max-height: 2.1em;
  transition: max-height 1s cubic-bezier(.45,.05,.55,.95);
}
@media all and (min-width: 35em) {
  nav {
    max-height: 200em;
  }
}

nav:hover, nav:active, nav:focus {
  max-height: 200em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav h2 {
  color: white;
  border-bottom: 1px solid  #0f5c94;
  margin: .5em 0 2em 0;
  padding: 0 0 .5em .5em;
}
@media all and (min-width: 35em) {
  nav h2 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
}

nav li {
  padding: .5em;
  border-top: 1px solid  #0f5c94;
}
@media all and (min-width: 35em) {
  nav li {
    display: inline-block;
    border-top: 1px solid transparent;
  }
  nav li:hover, nav li:focus, nav li:active,
  nav li.current-page{
    border-top: 1px solid #bbb;
  }
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover, nav a:focus, nav a:active,
nav li.current-page a{
  color: black;
}

main {
  margin-bottom: .8em;
}

/* contacts */
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

form li{
  width: 100%;
  text-align: center;
}

li label {
  display: inline-block;
  text-align: right;
  padding-right: .5em;
  width: 30%;
}

li input,
li textarea {
  display: inline-block;
  width: 55%;
}

fieldset {
  margin: 20px 0;
  padding: 20px 10px;
}

#btn-container {
  width: 100%;
  text-align: right;
}

#btn-container input {
  width: 30%;
  min-width: 80px;
  height: 35px;
  background-color: white;
  border: 1px solid gray;
  margin: 20px 0 16px 20px;
}
