#wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

header {
	flex-basis: 100%;
}

nav {
	flex-basis: 100%;
}
@media all and (min-width: 60em) {
  nav {
		flex-basis: 10em;
  }
}

main {
  flex-basis: 20em;
  flex-grow: 5;
}
@media all and (min-width: 35em) and (max-width: 59.99em) {
  main {
    order: 1;
  }
}

aside {
  flex-basis: 10em;
  flex-grow: 1;
}
