body {
  box-sizing: border-box;
}

*, *:before, *:after {
 box-sizing: inherit;
}

h1 {
  color: white;
  text-align: center;
	text-transform: uppercase;
  font-size: 166%;
}
@media all and (min-width: 28em){
  h1{
    font-size: 250%;
  }
}

h2 {
  color: steelblue;
  text-transform: uppercase;
  font-size: 100%;
}

.comment {
  font-size: 80%;
  color: black;
}

.img-center {
  width: 100%;
}

.img-small {
  max-width: 184px;
}

.whited {
  background: hsla(0, 100%, 100%, .85);
  border-radius: 5px;
  padding: .01em 1em;
}

.framed {
  margin: .3em .5%;
}

body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
}
@media all and (max-width: 35em) {
  body {
    margin: 0 .3em;
  }
}

#wrapper {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
  padding: 0;
}

nav {
  overflow: hidden;
  background: hsla(20, 100%, 50%, .85);
  border-radius: 5px;
  padding: 0;
  margin-bottom: .8em;
  text-align: center;
  max-height: 2.1em;
  transition: max-height 1s cubic-bezier(.45,.05,.55,.95);
}
@media all and (min-width: 35em) {
  nav {
    max-height: 200em;
  }
}

nav:hover, nav:active, nav:focus {
  max-height: 200em;
}

@media all and (min-width: 60em) {
  nav {
    float: left;
    height: auto;
    width: 13%;
    text-align: left;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav h2 {
  color: white;
  border-bottom: 1px solid steelblue;
  margin: .5em 0 2em 0;
  padding: 0 0 .5em .5em;
}
@media all and (min-width: 35em) and (max-width: 60em) {
  nav h2 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
}

nav li {
  padding: .5em;
  border-top: 1px solid steelblue;
}
@media all and (min-width: 35em) and (max-width: 60em) {
  nav li {
    display: inline-block;
    border-top: 1px solid transparent;
  }
  nav li:hover, nav li:focus, nav li:active,
  nav li.current-page{
    border-top: 1px solid #bbb;
  }
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover, nav a:focus, nav a:active,
nav li.current-page a{
  color: black;
}

main {
  margin-bottom: .8em;
}

@media all and (min-width: 35em) {
  main {
    float: left;
    width: 79%;
  }
}
@media all and (min-width: 60em) {
  main {
    width: 68%;
  }
}

@media all and (min-width: 35em) {
  aside {
    float: left;
    width: 19%;
  }
}
@media all and (min-width: 60em) {
  aside {
    width: 16%;
  }
}

/* contacts */
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

form li{
  width: 100%;
  text-align: center;
}

li label {
  display: inline-block;
  text-align: right;
  padding-right: .5em;
  width: 30%;
}

li input,
li textarea {
  display: inline-block;
  width: 55%;
}

fieldset {
  margin: 20px 0;
  padding: 20px 10px;
}

#btn-container {
  width: 100%;
  text-align: right;
}

#btn-container input {
  width: 30%;
  min-width: 80px;
  height: 35px;
  background-color: white;
  border: 1px solid gray;
  margin: 20px 0 16px 20px;
}
